{% extends "admin/background_pages/base.html" %}

{% load bulb_static static compress %}

{% block title %}Gestion{% endblock title %}

{% block head %}
    {% if DEBUG %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "logs/css/style/logs_page.scss" %}"/>
        {% endcompress %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% elif not DEBUG %}
        <link rel="stylesheet" href="{% static_bundled_src "logs/bundle_logs_page.css" %}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% endif %}
{% endblock head %}

{% block administration_part_name %}
    <i class="material-icons">keyboard_arrow_right</i>

    <a class="nav-link" href="{% url "logs" %}">Logs</a>
{% endblock administration_part_name %}

{% block content %}
    <p>LOGS</p>
{% endblock content %}

{% block scripts %}{% endblock scripts %}
