{% extends "admin/background_pages/base.html" %}

{% load bulb_static static compress %}

{% block title %}Handling{% endblock title %}

{% block head %}
    {% if DEBUG %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "handling/css/style/handling_home_page.scss" %}"/>
        {% endcompress %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% elif not DEBUG %}
        <link rel="stylesheet" href="{% static_bundled_src "handling/bundle_handling_home.css" %}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% endif %}
{% endblock head %}

{% block administration_part_name %}
    <i class="material-icons">keyboard_arrow_right</i>

    <a class="nav-link" href="{% url "handling_home" %}">Handling</a>
{% endblock administration_part_name %}

{% block content %}
    <div class="node-models-list">
        {% for name in node_classes_names %}
            <h3>
                <a href="{% url "node_model_home" node_model_name=name %}">{{ name }}</a>
            </h3>
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}{% endblock scripts %}
