{% extends "admin/background_pages/base.html" %}

{% load bulb_static static compress %}

{% block title %}Gestion : {{ node_class_name }}{% endblock title %}

{% block head %}
    {% if DEBUG %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "handling/css/style/node_class_home_page.scss" %}"/>
        {% endcompress %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


{% elif not DEBUG %}
    <link rel="stylesheet" href="{% static_bundled_src "handling/bundle_node_class_home.css" %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


{% endif %}
{% endblock head %}

{% block administration_part_name %}
    <i class="material-icons">keyboard_arrow_right</i>

    <a class="nav-link" href="{% url "handling_home" %}">Gestion</a>

    <i class="material-icons">keyboard_arrow_right</i>

    <a class="nav-link" href="{% url "node_model_home" node_model_name=node_model_name %}">{{ node_model_name }}</a>
{% endblock administration_part_name %}

{% block content %}
    {% csrf_token %}

    <br/>
    <br/>
    <br/>

    <a id="create-instance-button" href="{% url "node_creation" node_model_name=node_model_name %}"><i class="material-icons">add</i></a>

    <table>
        <thead>
            <tr>
                {% for field_number, field_name in preview_fields_dict.items %}
                    <th>{{ field_name }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for uuid, properties in twenty_last_instances_json.items %}
                <tr>
                    {% for property_number, property_tuple in properties.items %}
                            <td {% if property_tuple.1 == True %}
                                    class="true_td"
                                {% elif property_tuple.1 == False  %}
                                    class="false_td"
                                {% endif %}>
                                <a href="{% url "node_handling" node_model_name=node_model_name node_uuid=uuid %}">
                                    {{ property_tuple.1|truncatechars:40 }}
                                </a>
                            </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="ajax-loading-box">
        <div id="loader" hidden="hidden">
            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3"></div>
        </div>

        <p id="no-more-message" hidden="hidden">No more instances.</p>
    </div>

{% endblock content %}

{% block scripts %}
    {% if DEBUG %}
        <script type="module" src="{% static "handling/js/lazy_loading.js" %}"></script>

    {% elif not DEBUG %}
        <script src = "{% static_bundled_src 'handling/bundle_node_class_home.js' %}" ></script>

    {% endif %}
{% endblock scripts %}